 @page
@model PIS_Web.Pages.Web.JobTitleModel
@{
}

<div class="container-fluid" dir="rtl" lang="fa">
	@if (!string.IsNullOrEmpty(Model.ErrorMessage))
	{
		<div class="alert alert-danger text-center">
			@Model.ErrorMessage
		</div>
	}
	<div class="toolbar p-2 mb-3">
		<ul class="nav nav-tabs">
			<li class="nav-item">
				<a class="nav-link" asp-page="/Web/JobOpportunity">درخواست شغل</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" asp-page="/Web/JobOpportunity">فرصت شغلی</a>
			</li>
			<li class="nav-item">
				<a class="nav-link active" asp-page="/Web/JobTitle">سمت شغلی</a>
			</li>
		</ul>
	</div>
	<div class="card mb-3 frm container-fluid overflow-auto">
		<table class="card-body table table-hover" id="JobTitleTable">
			<thead>
				<tr>
					<th>کد سمت</th>
					<th>شرح سمت</th>
					<th>نوع سمت</th>
					<th>توضیحات</th>
				</tr>
			</thead>
			<tbody>
				@if (Model.JobTitles.Count() > 0)
				{
					foreach (var j in Model.JobTitles)
					{
						<tr>
							<td>@j.JobTitleNo</td>
							<td>@j.JobTitleDs</td>
							<td>@j.GeneralStatusDtlDs</td>
							<td>@j.Description</td>
						</tr>
					}
				}
				else
				{
					<tr><td>اطلاعاتی جهت نمایش وجود ندارد</td></tr>
				}
			</tbody>
		</table>
		<div>
			<ul class="pagination justify-content-center">
				@if (Model.PageNumber > 1)
				{
					<li class="page-item p-1">
						<a class="page-link" asp-route-PageNumber="@(Model.PageNumber - 1)">بعدی</a>
					</li>
				}
				else
				{
					<li class="page-item disabled p-1">
						<a class="page-link">بعدی</a>
					</li>
				}

				@if (Model.PageNumber < Model.TotalPages)
				{
					<li class="page-item p-1">
						<a class="page-link"  asp-route-PageNumber="@(Model.PageNumber + 1)">قبلی</a>
					</li>
				}
				else
				{
					<li class="page-item disabled p-1">
						<a class="page-link">قبلی</a>
					</li>
				}
			</ul>
		</div>

	</div>
	<form method="post" enctype="multipart/form-data">
		<div class="card mb-3">
			<div class="card-header">
				<h5>سمت جدید</h5>
			</div>
			<div class="card-body">
				<div class="row">
					<div class="col-md-6">
						<div class="mb-3">
							<label for="NationalID" class="form-label">کد ملی:</label>
							<input id="NationalID" name="NationalID" class="form-control" />
						</div>
						<div class="mb-3">
							<label for="FirstName" class="form-label">نام:</label>
							<input id="FirstName" name="FirstName" class="form-control" />
						</div>
						<div class="mb-3">
							<label for="LastName" class="form-label">نام خانوادگی:</label>
							<input id="LastName" name="LastName" class="form-control" />
						</div>
						<div class="mb-3">
							<label for="CityDs" class="form-label">شهر:</label>
							<input id="CityDs" name="CityDs" class="form-control" />
						</div>
					</div>
					<div class="col-md-6">
						<div class="mb-3">
							<label for="Email" class="form-label">ایمیل الکترونیک:</label>
							<input id="Email" name="Email" class="form-control" />
						</div>
						<div class="mb-3">
							<label for="Mobile" class="form-label">شماره موبایل:</label>
							<input type="number" id="Mobile" name="Mobile" class="form-control" />
						</div>
						<div class="mb-3">
							<label for="UploadedFile" class="form-label">انتخاب پیوست:</label>
							<input type="file" id="UploadedFile" name="UploadedFile" class="form-control" />
						</div>
					</div>
				</div>
			</div>
			<div class="p-4">
				<button class="btn btn-success" type="submit">ثبت سمت</button>
				<button class="btn btn-danger" asp-page-handler="Reset">لغو</button>
			</div>
		</div>

	</form>
</div>




			