@page "{TicketSN:decimal?}"
@model AddTicketForm
@{
	ViewData["Title"] = "Ticket Management";
}


<div class="container-fluid" dir="rtl" lang="fa">
	<!-- Toolbar -->
	@if (!string.IsNullOrEmpty(Model.errorMessage))
	{
		<div class="alert alert-danger text-center">
			@Model.errorMessage
		</div>
	}
	<div class="toolbar bg-light p-3 mb-3">
		<ul class="nav nav-tabs">
			<li class="nav-item">
				<a class="nav-link active" href="#">ثبت تیکت‌</a>
			</li>
			
			@if (User.IsInRole("Admin") || User.IsInRole("User"))
			{
				<li class="nav-item">
					<a class="nav-link" asp-area="" asp-page="/CRM/TicketList">لیست تیکت‌ها</a>
				</li>
			}
			@if (User.IsInRole("Admin") || User.IsInRole("User"))
			{
				@* <li class="nav-item">
					<a class="nav-link" asp-area="" asp-page="/CRM/TicketDtl">چت های تیکت</a>
				</li>*@
			} 
		</ul>
	</div>

	<!-- Detail Panel -->
	<form method="post" enctype="multipart/form-data">
		<div class="card mb-3 frm">
				<div class="card-header">
					<h5>جزئیات تیکت</h5>
				</div>
				<div class="card-body">
					@* <form method="post"> *@
					<div class="row">
						<!-- Left Column -->
						<div class="col-md-6">
							<div class="mb-3">
								<label for="TicketNo" class="form-label">کد تیکت:</label>
								<input id="TicketNo" name="TicketNo" class="form-control" disabled />
							</div>
							<div class="mb-3">
								<label for="HostName" class="form-label">درخواست کننده:</label>
								<input id="HostName" name="HostName" class="form-control" value="@User.Identity.Name" disabled/>
							</div>						
							<div class="mb-3">
								<label for="ApplicationSN" class="form-label">سیستم:</label>
								<select id="ApplicationSN" name="ApplicationSN" class="form-control">

								@if (Model.subSystems != null)
								{
									<option></option>
									@foreach (var system in Model.subSystems)
									{
										if (@system.ApplicationSN == 1.101m || @system.ApplicationSN == 6.101m || @system.ApplicationSN == 20.101m || @system.ApplicationSN == 22.101m)
										{
											<option value="@system.ApplicationSN">@system.FarsiName</option>
										}
										
									}
								}			
								</select>
							</div>
							
						
						<div class="mb-3">
							<label for="TicketDs" class="form-label">* شرح تیکت:</label>
							<textarea class="form-control" rows="5" for="TicketDs" id="TicketDs" name="TicketDs"></textarea>
						</div>
						</div>

						<!-- Right Column -->
						<div class="col-md-6">
							<div class="mb-3">
								<label for="StatusSN" class="form-label">وضعیت رکورد:</label>
								<select id="StatusSN" name="StatusSN" class="form-control">
								@if (Model.recordStatus != null)
								{
									@foreach (var status in Model.recordStatus)
									{
										if (status.GeneralStatusDtlSN == 7)
										{
											<option value="@status.GeneralStatusDtlSN">@status.GeneralStatusDtlDs</option>
										}									
									}
								}						
								</select>
							</div>
							<div class="mb-3">
								<label for="PrioritySN" class="form-label">نوع اولویت:</label>
								<select id="PrioritySN" name="PrioritySN" class="form-control">
								@if (Model.priorities != null)
								{
									@foreach (var status in Model.priorities)
									{
										if (status.GeneralStatusDtlSN != 1720)
										{
											<option value="@status.GeneralStatusDtlSN">@status.GeneralStatusDtlDs</option>
										}										
									}
								}
									
								</select>
							</div>
							<div class="mb-3">
								<label for="TicketTypeSN" class="form-label">روش ثبت تیکت:</label>
								<select id="TicketTypeSN" name="TicketTypeSN" class="form-control">
								@if (Model.ticketType != null)
								{
									@foreach (var type in Model.ticketType)
									{
										if (type.GeneralStatusDtlSN == 1715)
										{
											<option value="@type.GeneralStatusDtlSN">@type.GeneralStatusDtlDs</option>
										}									
									}
								}
								</select>
							</div>
						<div class="mb-3">
							<label for="ProblemSN" class="form-label">گروه مشکل:</label>
							<select id="ProblemSN" name="ProblemSN" class="form-control">
								@if (Model.problem != null)
								{
									<option></option>
									@foreach (var problem in Model.problem)
									{
										
											<option value="@problem.ProblemSN">@problem.ProblemDs</option>
										
									}
								}
							</select>
						</div>
							<div class="control-group pb-4">
								<label class="control-label form-label" for="TicketDate">تاریخ تیکت</label>
								<div class="controls">
								<input class="form-control" id="TicketDate" name="TicketDate" value="@Model.ticketDate" type="text" disabled>
								</div>
							</div>							
						</div>
					</div>

				</div>
				<div class="p-4">
					<button class="btn btn-success" type="submit">ثبت تیکت</button>
					<button class="btn btn-danger" asp-page-handler="Reset">لغو</button>
				</div>
			</div>
		</form>

	
	
	
	@* <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
    <script src="~/js/bootstrap-datepicker.min.js"></script>
    <script src="~/js/bootstrap-datepicker.fa.min.js"></script>
    <script>
                    $(document).ready(function() {
                        $("#datepicker0").datepicker({
                            showOtherMonths: true,
                            selectOtherMonths: true,
                            changeMonth: true,
                            changeYear: true,
                            isRTL: true,
                            showButtonPanel: true

                        });
                    });
    </script> *@

</div>

