@page "{TicketSN:decimal?}"
@model TicketDtlModel
@{
}
<script src="js/site.js"></script>
<div class="container-fluid frm" dir="rtl" lang="fa">
	<!-- Toolbar -->
	@if (!string.IsNullOrEmpty(Model.errorMessage))
	{
		<div class="alert alert-danger text-center">
			@Model.errorMessage
		</div>
	}
	<div class="toolbar bg-light p-3 mb-3">
		<ul class="nav nav-tabs">
			<li class="nav-item">
				<a class="nav-link" asp-page="/CRM/AddTicketForm">ثبت تیکت‌</a>
			</li>
			@* <li class="nav-item">
				<form method="post">
					<button class="nav-link" asp-page="/TicketList">درج پیوست</button>
				</form>
			</li> *@
			<li class="nav-item">
				<a class="nav-link" asp-area="" asp-page="/CRM/ticketList">لیست تیکت‌ها</a>
			</li>
			@if (User.IsInRole("Admin") || User.IsInRole("User"))
			{
				@* <li class="nav-item">
					<a class="nav-link active" asp-area="" asp-page="/CRM/TicketDtl">چت های تیکت</a>
				</li> *@
			}
		</ul>
	</div>
</div>
	<div class="card mb-3 frm container-fluid overflow-auto" dir="rtl" lang="fa">
		<table class="card-body table table-hover" id="ticketsTable">
			<thead>
				<tr>					
					<th>شرح تیکت</th>		
					<th>شماره پیام</th>
					<th>متن پیام</th>
					<th>کارشناس</th>				
				</tr>
			</thead>
		<tbody>
				@if (Model.TicketDtls.Count() != 0)
				{
					
					@foreach (var ticket in Model.TicketDtls)
					{
						<tr onclick="selectRow(this)" data-ticket-id="@ticket.TicketDtlSN">							
							<td>@ticket.TicketDs</td>
							<td>@ticket.TicketDtlSN</td>
							<td>@ticket.MessageBody</td>
							<td>@ticket.UserName</td>
						</tr>
					}
					
				}
				else
				{
					<tr><td>اطلاعاتی جهت نمایش وجود ندارد</td></tr>
				}
		</tbody>
		</table>	
	
	</div>
<div  dir="rtl">
	<form  method="post">
		@if (User.IsInRole("Admin"))
		{
			<button onclick="return confirm('تیکت حذف شود؟');" asp-page-handler="Delete" class="btn btn-danger">حذف پیام</button>
		}
		<button asp-page-handler="Add" class="btn btn-primary">پیام جدید</button>
		<input class="text-xl-end" type="hidden" id="selectedSN" name="SelectedSN" />
	</form>
</div>